# Build output
build/
*.o
*.ko
*.mod
*.mod.c
*.symvers
*.order

# Kernel & BusyBox source
linux-*/
busybox-*/

# Kernel archives
linux-*.tar.*
busybox-*.tar.*

# Initramfs images
*.cpio
*.cpio.gz

# ISO images
*.iso

# Logs
*.log

# Editor/IDE cruft
*.swp
*.swo
*~
.idea/
.vscode/

# Misc
tags
