# BusyBox customizations for qemount

# NETWORKING - disable problematic components
CONFIG_TC=n
CONFIG_FEATURE_TC_INGRESS=n
# Disable all advanced networking features to be safe
CONFIG_FEATURE_IPV6=n
CONFIG_FEATURE_PREFER_IPV4_ADDRESS=n
CONFIG_IFCONFIG=n
CONFIG_ROUTE=n
CONFIG_FEATURE_IFUPDOWN_IP=n
CONFIG_FEATURE_IFUPDOWN_IPV6=n

# Make sure we get a static build for the initramfs
CONFIG_STATIC=y

# Basic features we need
CONFIG_ASH=y
CONFIG_FEATURE_EDITING=y
CONFIG_FEATURE_TAB_COMPLETION=y
CONFIG_FEATURE_EDITING_HISTORY=255

# Essential utilities
CONFIG_MOUNT=y
CONFIG_CAT=y
CONFIG_CP=y
CONFIG_LS=y
CONFIG_MKDIR=y
CONFIG_MKNOD=y

# Make sure basic file system utilities are enabled
CONFIG_FEATURE_MOUNT_LOOP=y
CONFIG_FEATURE_MOUNT_VERBOSE=y