serial --unit=0 --speed=115200
terminal_input serial
terminal_output serial

set timeout=0
set default=0

menuentry "AROS mountin base" {
    multiboot /boot/pc-tiny/bootstrap.xz vesa=32bit ATA=32bit nomonitors debug=serial
    module /boot/pc-tiny/kernel.xz
    module /boot/pc-tiny/aros-bsp.pkg.xz
    module /boot/aros-base.pkg.xz
    module /boot/aros-fs.pkg.xz
}
